.commontoall {
    position: absolute;
    left: 16.8%;
    top: 10%;
    width: 83.2%;
    height: 90%;
    overflow: auto;
    background: #eef3fc;
}

.W-3 {
    width: 3%;
}

.W-5 {
    width: 5%;
}

.W-10 {
    width: 10%;
}

.W-20 {
    width: 20%;
}

.W-30 {
    width: 30%;
}

.W-40 {
    width: 40%;
}

.W-50 {
    width: 50%;
}

.W-60 {
    width: 60%;
}

.W-70 {
    width: 70%;
}

.W-80 {
    width: 85%;
}

.W-90 {
    width: 90%;
}

.W-95 {
    width: 95%;
}

.W-100 {
    width: 100%;
}

.W-110 {
    width: 110%;
}

.H-10 {
    height: 10%;
}

.H-20 {
    height: 20%;
}

.H-30 {
    height: 30vh;
}

.H-40 {
    height: 40%;
}

.H-50 {
    height: 50%;
}

.H-60 {
    height: 60%;
}

.H-70 {
    height: 70%;
}

.H-80 {
    height: 85%;
}

.H-90 {
    height: 90%;
}

.H-100 {
    height: 100%;
}

.H-110 {
    height: 110%;
}

.bg-lightwarning {
    background-color: #ffdc73;
}

.bg-lightinfo {
    background-color: #5fdff8;
}

.bg-lightsuccess {
    background-color: #21c277
}

@media(max-width:900px) {
    .commontoall {
        position: relative;
        width: 100vw;
        left: 0;
    }
}